[submodule "deps/SlidingMenu"]
	path = deps/SlidingMenu
	url = https://git@github.com/jfeinstein10/SlidingMenu.git
[submodule "deps/ActionBarSherlock"]
	path = deps/ActionBarSherlock
	url = https://git@github.com/JakeWharton/ActionBarSherlock.git
